@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    align-items: center;
}
.connection li {
    margin-bottom: 10px;
}
.connection a{
    text-transform: uppercase;
border-bottom: 1px solid black;
text-decoration: none;
font-size: 20px;
color: black;
}
.nav_change {
    font-size: 30px;
background-color: transparent;
border-color: transparent;
position: absolute;
top: 10px;
right: 10px;

}
.connection {
    list-style: none;
    height: 0;
    overflow: hidden;
    transition: all 0.1s;
}
.active_nav {
    height: 9rem;
}